* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding : 0px;
    font-family : 'Inter';
}

.container{
    width : 1100px;
    margin : auto;
    position: relative;
}

.menu{
    justify-content: center;
    display: flex;
}

.logo{
    float: left;
    font-family: sans-serif;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 1;
}

nav ul{
    align-items: center;
    display: flex;
}

nav ul li {
    list-style: none;
    float : left;
    margin-left: 30px;
}

nav ul li a{
    text-align: "Inter";
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-family: sans-serif;
}

.wrapper{
    background-color: orange;
    margin: auto;
    display: flex;
}

.stated .tbl-blue{
    font-size: large;
    font-family: sans-serif;
}

.opening{
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper .introduce .opening h1{
    font-size: 40px;
    font-family: sans-serif;
}

.wrapper .introduce .opening p{
    font-size: large;
    font-family: sans-serif;
}

.keterangan .aboutus h1{
    font-size: 40px;
    font-family: sans-serif;
}

.keterangan .aboutus p{
    font-size: large;
    font-family: sans-serif;
}
